<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>


    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <h4>Professional Information</h4>
    </a>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="form-group mt-2">
                <label for=""></label>
                <textarea placeholder="Objectives" class="form-control"></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="Work-experience"></label>
                <textarea placeholder="Work Experience" class="form-control"></textarea>
                <div class="container text-center mt-3">
                    <button class="btn btn-primary btn-sm">Add</button>
                </div>
                <div class="form-group mt-2">
                    <label for="Academic-qualification"></label>
                    <textarea placeholder="Academic qualification" class="form-control"></textarea>
                    <div class="container text-center mt-3">
                        <button class="btn btn-primary btn-sm">Add</button>
                    </div>
                    <div class="form-group mt-2">
                        <label for="intership-certification"></label>
                        <textarea placeholder="Intership certification"" 
    class=" form-control"></textarea>
                    </div>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
                    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
                    crossorigin="anonymous"></script>
</body>

</html>